/*Para darle estilos al cuerpo de la pagina*/
body {
    background-color: wheat;
    background-repeat: repeat-x repeat-y;
    padding-bottom: 5%;
    padding-bottom: 10%;
}

/*Para darle estilos al cuerpo del mensaje*/
.body-message {
    margin-top: 3%;
    padding-left: 20px;
}

/*Los estilos de la etiqueta span donde se muestra el remitente*/
.from {
    padding-left: 20px;
    font-weight: bolder;
}

/*Los estilos de la fecha del mensaje*/
.fecha {
    display: inline-flex;
    font-size: 0.8rem;
    float: right;
    vertical-align: text-bottom;
    padding: 30px;
}

/*Para hacer la barra scroll*/
.is-scrollable {
    background-image: url("https://i.pinimg.com/originals/ab/ab/60/abab60f06ab52fa7846593e6ae0c9a0b.png");
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 700px;
    min-height: 450px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    margin-top: -24px;
}

/*Estilos de la caja del mensaje*/
.message-box {
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
    height: 130px;
    margin: 2%;
    width: 350px;
    list-style: none;
    margin-top: 0%;
}

/*Estilos de la caja del mensaje*/
.message-box-prueba{
    background-color: #005670;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
    height: 130px;
    margin: 2%;
    width: 350px;
    list-style: none;
    margin-top: 0%;
}

/*Para hacer que el estilo de mensaje a la caja de mensaje*/
.message-box:before {
    background-color: #F2F2F2;
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
    content: "\00a0";
    display: block;
    height: 20px;
    left: -10px;
    position: relative;
    top: 20px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 20px;
}

/*Para darle estilo a la caja de el mensaje que el usuario envia*/
.mimensaje {
    background-color: #B2B2B2;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
    height: 130px;
    margin: 2%;
    width: 350px;
    list-style: none;
    margin-top: 0%;
    margin-left: 90%;
}

/*Para hacer que el estilo de mensaje a la caja de mensaje*/
.mimensaje:before {
    background-color: #B2B2B2;
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
    content: "\00a0";
    display: block;
    height: 20px;
    left: -10px;
    position: relative;
    top: 20px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}



/*Estilos de la caja donde se escribe el mensaje*/
#mi-mensaje {
    border-left: 2px solid grey;
    border-right:2px solid grey;
    border-bottom: 2px solid grey;;
    background-color: #84bd00;
    padding: 10px;
    width: 100%;
    margin-right: 0px;
    padding-bottom: 4%;
}

#mi-mensaje input, button{
    float: right
}

/*Estilos del input donde se escribe el mensaje en el chat*/
#mi-mensaje input {
    border: solid 1px #4193BF;
    outline: none;
    padding: 10px;
    width: 310px;
}

/*Estilos del boton donde se escribe el mensaje en el chat*/
#mi-mensaje button {
    border: 0;
    background-color: #4193BF;
    color: white;
    font-size: 16px;
    padding: 8px;
    width: 50px;
    padding-top: 10px;
}

/*Estilos del boton de enviar cuando se pasa el mouse por encima*/
#mi-mensaje button:hover {
    background-color: #005670;
}

/*Estilos de la barra de menu*/
.navbar{
    background-color: #ff9933;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
}

/*Estilos del dropdown de la barra*/
.navbar-dropdown{
    background-color: #005670;
}

/*Para poner color blanco a los textos de la barra*/
.navbar-link, .navbar-item{
    color: whitesmoke;
}

/*Estilos de la lista*/
ol li {
    margin-bottom: 15px;
}

/*Estilos del header*/
section{
    background-color: #005670;
}

/*Para darle color al titulo*/
#title{
    color: whitesmoke;
}