@import url('https://fonts.googleapis.com/css?family=Numans');

/*Estilos del body*/
html,
body {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

/*Estilos de la etiqueta cuando el login falla*/
#fail {
    margin-top: 3px;
    color: red;
}