@import url('https://fonts.googleapis.com/css?family=Numans');

/*Para darle estilos al botón de guardar*/
#button-save{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

/*Estilos del contenedor donde se muestra la información para el administrador*/
.container {
    background-color: whitesmoke;
    height: 100%;
}

/*Estilos del contenedor donde se muestra los canales*/
.content{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
}

/*Estilos del body*/
html,
body {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

/*Estilos a los h1*/
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    margin-left: 44%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: whitesmoke;
}

/*Estilos del botón donde ingresa el nombre del canal*/
.input{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Para hacer la barra scroll*/
.is-scrollable {
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 700px;
    min-height: 450px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    border: 2px solid grey;
    margin-top: -24px;
}

/*Estilos del navbar*/
.navbar{
    background-color: #00205b;
}

/*Estilos del botón de salir*/
#salir{
    background-color: #f3f4f7;
    width: 100px;
}

/*Estilos cuando se pasa el mouse sobre el botón de salir*/
#salir:hover{
    background-color: #52565e;
    color: white;
}