/*Estilos del contenedor donde se muestra la lista de canales*/
.content{
    border-left: grey 2px solid;
    border-right: grey 2px solid;

}

/*Estilo de los headers*/
#headers{
    padding-top: 25px;
    padding-bottom: 25px;
}

/*Estilos de la etiqueta cuando la validacion falla*/
#fail{
    color: red;
}

/*Estilos de la etiqueta para ir al login*/
.login{
    float: right;
    color: white;
}

/*Estilos del input donde se ingresa el nickname*/
#nick{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


