<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="css\chat.css">
</head>

<body>
    <div id="app">
        <section class="hero is-bold is-small">
            <div class="hero-body">
                <div class="container-header">
                    <!--Para mostrar el nombre del canal-->
                    <div>
                        <h2 class="title is-2 has-text-centered" id="title">Messages for the channel</p>
                        </h2>
                    </div>
                </div>
            </div>
        </section>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Users
                        </a>
                        <!--Para mostrar los miembros registrados en ese canal-->
                        <div class="navbar-dropdown">
                            <a class="navbar-item" v-for="(member, index) in members" :key="index">
                                <span>{{ member.identity}}</span><br>
                            </a>
                        </div>
                    </div>
                    <a class="navbar-item" @click="salir">
                        Exit
                    </a>
                </div>
            </div>
        </nav>
        <br>
        <div class="container">
            <div id="body" class="is-scrollable" id="prueba">
                <br>
                <ol type="1">
                    <!--Para mostrar los mensajes-->
                    <li v-for="(message, index) in messages" :key="index" class="message-box">
                        <span >
                            <span class="from">{{ message.from}}</span><br><span
                                class="body-message">{{ message.body}}</span><br>
                            <span class="fecha">{{ message.date_created.split('T')[0]}}
                                {{(message.date_created.split('Z')[0]).split('T')[1]}}
                            </span>
                        </span>
                    </li>
                </ol>
            </div>
            <div id="mi-mensaje">
                <input type="text" placeholder="Escribir mensaje..." v-model="bodyMessage">
                <button @click="createMessage">→ </button>
            </div>
        </div>

    </div>
</body>
<script src="JavaScript\axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="JavaScript\credenciales.js"></script>
<script src="JavaScript\chat.js"></script>

</html>