<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container">
    <div id="app">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <h1>Manage channels</h1>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button" id="salir" @click="salir">
                <strong>Exit</strong>
              </a>
            </div>
          </div>
        </div>
      </nav>
      <br>
      <input class="input" type="text" placeholder="Friendly name for channel" v-model="tempChannel.name" />
      <br>
      <div class="field">
        <button class="button is-success" id="button-save" @click="save">
          Save
        </button>
      </div>
      <br>
      <div class="content">
        <div id="body" class="is-scrollable">
          <ol type="1">
            <li v-for="(channel, index) in channels" :key="index">
              {{ channel.friendly_name }}
              <div class="field">
                <p class="control">
                  <button class="button is-success" @click="selectChannel(index)">
                    Select
                  </button>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button is-danger" @click="deleteChannel(index)">
                    Delete
                  </button>
                </p>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="JavaScript\axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="JavaScript\credenciales.js"></script>
<script src="JavaScript\management.js"></script>

</html>