<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="css\user.css">
</head>

<body>
    <section class="hero is-link is-bold is-small">
        <div class="hero-body">
            <div class="container-header">
                <div>
                    <a href="login.html" class="login">Login</a>
                </div>
                <div>
                    <h2 class="title is-1 has-text-centered">Channels list</h2>
                </div>
            </div>
        </div>
    </section>

    <br>
    <div id="app" class="container">
        <div class="field is-small">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Insert your nickname" v-model="identity" id="nick" />
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </p>
            <div>
                <h4 id="fail"></h4>
            </div>
        </div>


        <div class="content">
            <ol type="1">
                <li v-for="(channel, index) in channels" :key="index">
                    {{ channel.friendly_name }}
                    <div class="field">
                        <p class="control">
                            <button class="button is-success" @click="joinChannel(index)">
                                Join the channel
                            </button>
                        </p>
                    </div>
                </li>
            </ol>
        </div>
    </div>

    <div class="modal" id="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <!-- Any other Bulma elements you want -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</body>

<script src="JavaScript\axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="JavaScript\credenciales.js"></script>
<script src="JavaScript\user.js"></script>

</html>